.equipments {
  .equipments-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .equipments-header-title {
      color: var(--default-blue-color);
      font-size: larger;
    }
  }
  

  .add-equipment-action {
    width: 45px;
    display: flex;
    justify-content: center;

    .add-equipment-action-icon {
      color: var(--default-blue-color)
    }
  }
}

.equipments-filter-input {
  width: 100% !important;
}

.equipments-filter-combo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 5px;
}

.equipment-drawer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 100%;


  width: 50vw;
  min-width: 200px;
  height: 100%;
  justify-content: space-between;
  padding: 20px;

  .equipment-drawer-title {
    font-size: larger;
    color: var(--default-blue-color)
  }

  .equipments-combo {
    width: 97%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 5px;
    margin-left: 2.5%;
  }

  .analog-digital-radios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .radio {
      .css-1qiat4j {
        color: var(--default-blue-color)
      }
    }
  }

  .equipment-data-input {
    width: 100%;
  }

  .save-button {
    width: 100%;
    height: 50px;
  }
}