.default-actions {
  .default-actions-icon {
    color: var(--default-blue-color);
    margin: 0 5px;
    cursor: pointer;
  }
}

.filter-dialog {
  min-width: 400px;
  max-height: 65vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  .filter-dialog-title {
    width: 80%;
    color: var(--default-blue-color);
    font-size: larger;
    margin-top: 20px;
    border-bottom: 0.5px solid var(--soft-black-color);
    text-align: center;
  }
 
  .filter-dialog-content {
    width: 100%;
    flex-grow: 1;
  }

  .filter-dialog-execute-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
    
  }
}