@import "tailwindcss";

:root {
  --off-white-color: #f9f9f9;
  --soft-white-color: #ede4d7;
  --soft-blue-color: #09f;
  --default-blue-color: #4174b3;
  --dark-blue-color: #27548a;
  --soft-black-color: #d0d0d0;
}

.main {
  height: 100vh;
  overflow: auto;
  background-color: var(--soft-white-color);
}

.flex {  
  display: flex;
  align-items: center;
  justify-content: center;
}