.multi-tabs {
  height: 100%;

  .tabs-header {
    height: 50px;
    border-bottom: 1px solid var(--soft-black-color);
    
    .tab {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: -5px;
      color: var(--default-blue-color);
      font-weight: bold;
    }
  }

  .tabs-content {
    height: 100%;
    padding: 5px;
    overflow-x:auto;
    /* border: 8px solid #003366ee; */
    border-radius: 0 0 20px 20px;

    .tab-panel {
      height: 100%;
    }
  }  
}