.input-text {
  margin-top: 10px;
  width: 80%;

  .icon-default {
    color: var(--default-grey-color)
  }
  
  .icon-error {
    color: var(--default-red-color);
    justify-content: center;
  }

  .input-text-input {
    width: 80%;
  }

  .input-text-custom-icon {
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}