.table {
  .table-header {
    background-color: var(--dark-blue-color);
    height: 50px;
    font-size: medium;
    z-index: 999;
    
    .table-header-cell {
      color: var(--off-white-color)
    }
  }

  .table-row {
    .open-close-sublist-icon {
      color: var(--default-blue-color);
      transition: transform 0.3s ease;
    }
       
    .table-row-sublist-list-header-cell-icon {
      width: 30px;
      padding:0 0 0 5px;
    }

    .edit {
      color: var(--default-blue-color);
    }

    .delete {
      color: var(--default-red-color);
    }

    .close {
      transform: rotate(-180deg);
    }

    .table-row-cell-content {
      border-bottom: none;
    }

    .table-row-cell-content-icon {
      color: var(--default-blue-color);
    }
  }

  .table-row-sublist {
      padding: 5px 0;

      .table-row-sublist-title {
        color: var(--default-blue-color);
      }
       
      .table-row-sublist-list-header {
        .table-row-sublist-list-header-cell {
          font-size: smaller;
          background-color: var(--default-blue-color);
          color: var(--off-white-color);
        }
      } 

      .table-row-sublist-list-row {
        .table-row-sublist-list-row-cell {           
          max-width: 70vw;
          .table-row-sublist-list-row-cell-content { 
            border-bottom: none;
            white-space: nowrap;
            overflow: hidden; /* "overflow" value must be different from "visible" */
            text-overflow: ellipsis;
            display: block;
          }

          .table-row-sublist-list-row-cell-content-icon { 
            color: var(--default-blue-color);
          }
        }
      }
  }

  .clickable {
    cursor: pointer;
  }
}