.private-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .private-layout-screen-header {

    .private-layout-header {
      height: 65px;
      width: 100%;
      background-color: var(--default-blue-color);
      color: var(--off-white-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      /* position: fixed; */

      .private-layout-header-menu-icon, .private-layout-header-user-icon {
        color: var(--off-white-color);
        transition: transform 0.3s ease;
      }

      .open {
        transform: rotate(180deg);
      }

      .private-layout-header-menu-text {
        color: var(--off-white-color);
        font-size: large;
        margin: 0 5px;
      }

      .private-layout-header-text {
        color: var(--off-white-color);
        font-size: xx-large;
      }

      .private-layout-header-text:hover {
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
    }

    .private-layout-header-menu-open {
      animation: fadeIn 0.3s forwards 0s 1 normal;
      background-color: var(--default-blue-color);
      display: flex;
      width: 100%;
      overflow: hidden;

      .private-layout-header-menu-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
        .private-layout-header-menu-list-item {
          color: var(--off-white-color);
          font-size: medium;
          flex-grow: 1;
          flex-basis: 200px;
          padding: 10px 0;
          margin: 5px;
          cursor: pointer;
          border-radius: 10px;

          .private-layout-header-menu-item-icon {
            margin-right: 10px;
          }

          .private-layout-header-sub-menu-item-icon {
            transition: transform 0.3s ease;
            margin-left: 10px;
          }
          
          .open {
            transform: rotate(-180deg);
          }
          
          .private-layout-header-menu-list-item-text {
            margin: 0 5px 0 10px;
            color: var(--off-white-color);
            font-weight: 400;
          }
        }

        .private-layout-header-menu-list-item:hover {
          background-color: var(--dark-blue-color);
        }
      }
    }

    .private-layout-header-menu-close {
      animation: fadeOut 0.3s forwards 0s 1 normal;
      background-color: var(--default-blue-color);
      height: 0px;
    }
  }
    
  .private-layout-body {
    height: calc(100% - 120px);
    width: 100%;
    background-color: var(--off-white-color);
    overflow: auto;
    padding: 10px;
    top: 120px;
    position: absolute;
  }

  .private-layout-footer {
    display: flex;
    justify-content: center;
    gap: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;

    span, a {
      color: var(--soft-grey-color)
    }

    a {
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 650px;
  }
}

@keyframes fadeOut {
  from {
    height: 65px;
  }
  to {
    height: 0;
  }
}