.private-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .private-layout-screen-header {

    .private-layout-header {
      height: 65px;
      width: 100%;
      background-color: var(--default-blue-color);
      color: var(--off-white-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      /* position: fixed; */

      .private-layout-header-menu-icon, .private-layout-header-user-icon {
        color: var(--off-white-color);
        transition: transform 0.3s ease;
      }

      .open {
        transform: rotate(180deg);
      }

      .private-layout-header-menu-text {
        color: var(--off-white-color);
        font-size: large;
        margin: 0 5px;
      }

      .private-layout-header-text {
        color: var(--off-white-color);
        font-size: xx-large;
      }

      .private-layout-header-text:hover {
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }
    }

    .private-layout-header-menu-open {
      animation: fadeIn 0.3s forwards 0s 1 normal;
      background-color: var(--default-blue-color);
      display: flex;
      width: 100%;

      .private-layout-header-menu-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .private-layout-header-menu-list-item {
          color: var(--off-white-color);
          font-size: medium;
          
          .private-layout-header-menu-list-item-text {
            margin-left: 5px;
            color: var(--off-white-color);
            font-weight: 400;
          }
        }
      }
    }   

    .private-layout-header-menu-close {
      animation: fadeOut 0.3s forwards 0s 1 normal;
      background-color: var(--default-blue-color);
      height: 0px;
    }
  }
    
  .private-layout-body {
    height: 100%;
    width: 100%;
    background-color: var(--off-white-color);
    overflow: auto;
  }
}

@keyframes fadeIn {
  from {
    height: 0;
  }
  to {
    height: 65px;
  }
}

@keyframes fadeOut {
  from {
    height: 65px;
  }
  to {
    height: 0;
  }
}