.rooms {
  height: 100%;
  max-height: 70vh;

  .add-equipment-action {
    width: 45px;
    display: flex;
    justify-content: center;

    .add-equipment-action-icon, .add-users-action-icon {
      color: var(--default-blue-color)
    }
  }

  .room-tab {
    height: 100%;
    overflow-x: auto;

    .room-chip {
      border: 2px solid var(--default-blue-color);
      margin: 5px 0;

      .MuiChip-label {
        color: var(--default-blue-color);
        font-weight: 700;
        font-size: 14;
      }
    }

    .room-tab-table {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;


      .rooms-table {
        height: 93%;
      }
    }
  }
}

.add-machine-dialog {
  height: 80vh;
  padding: 10px;
  background-color: var(--off-white-color);
  
  .add-machine-dialog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
    .add-machine-dialog-header-comp {
      color: var(--default-blue-color)
    }
  }
  
  .add-machine-dialog-header-form-open {
    animation: fadeIn 0.3s forwards 0s 1 normal;
    background-color: var(--off-white-color);
    display: flex;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--soft-black-color);;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    align-items: center;
    
    .input-equipment-input, .equipments-combo {
      width: 30%;
    }

    .save-machine-button {
      height: 50px;
      width: 10%;
    }
  }
  
  .add-machine-dialog-header-form-close {
    animation: fadeOut 0.3s forwards 0s 1 normal;
    background-color: var(--off-white-color);
    height: 0px;
    overflow: hidden;
  }
  
  .add-machine-dialog-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 80%;
  }
  
  .filled {
    height: 90%;
  }
}

.add-user-dialog {
  height: 80vh;
  padding: 10px;
  background-color: var(--off-white-color);
  
  .add-user-dialog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
    .add-user-dialog-header-comp {
      color: var(--default-blue-color)
    }
  }
  
  .add-user-dialog-header-form-open {
    animation: fadeIn 0.3s forwards 0s 1 normal;
    background-color: var(--off-white-color);
    display: flex;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--soft-black-color);;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    align-items: center;
    
    .equipments-combo {
      width: 90%;
      margin-top: 10px;
    }

    .save-user-button {
      height: 50px;
      width: 10%;
    }
  }
  
  .add-user-dialog-header-form-close {
    animation: fadeOut 0.3s forwards 0s 1 normal;
    background-color: var(--off-white-color);
    height: 0px;
    overflow: hidden;
  }
  
  .add-user-dialog-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 80%;
  }
  
  .filled {
    height: 90%;
  }
}